* {
  margin-left: 8px;
  margin-top: 8px;
  margin-bottom: 8px;

}

.Fizz {
    color: blue;
     animation:blinkingTextfizz 2s infinite;
}

.FizzBuzz {
    color: green;
    animation:blinkingText 2s infinite;
}

.Buzz {
    color: purple;
     animation:blinkingTextbuzz 2s infinite;
}

.Number {
    color: grey
}

ul {
    list-style: none;
}

@keyframes blinkingText{
    0%{     color: blue;    }
    /* 49%{    color: transparent; } */
    50%{    color: transparent; }
    /* 99%{    color:transparent;  } */
    100%{   color:green;    }
}

@keyframes blinkingTextbuzz{
    0%{     color: purple;    }
    /* 49%{    color: transparent; } */
    50%{    color: transparent; }
    /* 99%{    color:transparent;  } */
    100%{   color: red;    }
}

@keyframes blinkingTextfizz{
    0%{     color: yellow;    }
    /* 49%{    color: transparent; } */
    50%{    color: transparent; }
    /* 99%{    color:transparent;  } */
    100%{   color:orange;    }
}

.Buzz:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.Fizz:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.FizzBuzz:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

img {
    height: 400px;
    width: 600px;
}

h1 {
    font-size: 60px;
  font-family: 'Press Start 2P', cursive;
  text-align: center;

}